# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

# [作業重點]
- 仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測
- 觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?  
均值編碼 + 邏輯斯迴歸的效果比較好。可能是因為鐵達尼生存預測中的類別特徵與目標有明顯相關性的緣故。

In [16]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.780004837244799
time : 0.02341318130493164 sec

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [17]:
# 均值編碼 + 邏輯斯迴歸
data = pd.concat([df[:train_num], train_Y], axis=1)

In [18]:
data['Ticket'].value_counts()

CA. 2343             7
1601                 7
347082               7
3101295              6
CA 2144              6
347088               6
382652               5
S.O.C. 14879         5
4133                 4
PC 17757             4
W./C. 6608           4
2666                 4
LINE                 4
113760               4
17421                4
347077               4
19950                4
349909               4
113781               4
35273                3
29106                3
PC 17582             3
248727               3
24160                3
C.A. 31921           3
230080               3
110152               3
PC 17755             3
345773               3
C.A. 34651           3
                    ..
236853               1
13214                1
113051               1
7267                 1
315096               1
345781               1
223596               1
349204               1
248706               1
349240               1
234686               1
A/4. 20589           1
350407               1
348124               1
29751                1
13049                1
348123               1
345780               1
14313                1
STON/O 2. 3101285    1
SC/PARIS 2133        1
2628                 1
13213                1
STON/O 2. 3101286    1
234604               1
111426               1
219533               1
SC/PARIS 2149        1
C.A. 31026           1
347067               1
Name: Ticket, Length: 681, dtype: int64

In [19]:
data['Name'].value_counts()

Anderson, Mr. Harry                                   1
Reynaldo, Ms. Encarnacion                             1
Hocking, Mr. Richard George                           1
Aks, Mrs. Sam (Leah Rosen)                            1
Wilhelms, Mr. Charles                                 1
Jenkin, Mr. Stephen Curnow                            1
Hawksford, Mr. Walter James                           1
Serepeca, Miss. Augusta                               1
Laleff, Mr. Kristo                                    1
Pickard, Mr. Berk (Berk Trembisky)                    1
Boulos, Miss. Nourelain                               1
Staneff, Mr. Ivan                                     1
Coleridge, Mr. Reginald Charles                       1
Herman, Miss. Alice                                   1
Milling, Mr. Jacob Christian                          1
Hansen, Mr. Claus Peter                               1
Spencer, Mrs. William Augustus (Marie Eugenie)        1
Goldenberg, Mr. Samuel L                              1
Maisner, Mr. Simon                                    1
Cardeza, Mr. Thomas Drake Martinez                    1
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)       1
Wiseman, Mr. Phillippe                                1
Olsvigen, Mr. Thor Anderson                           1
Andersson, Mr. August Edvard ("Wennerstrom")          1
Stoytcheff, Mr. Ilia                                  1
O'Connor, Mr. Maurice                                 1
Gustafsson, Mr. Johan Birger                          1
Stahelin-Maeglin, Dr. Max                             1
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)    1
Rush, Mr. Alfred George John                          1
                                                     ..
Baclini, Mrs. Solomon (Latifa Qurban)                 1
Jonkoff, Mr. Lalio                                    1
Ling, Mr. Lee                                         1
Clarke, Mrs. Charles V (Ada Maria Winfield)           1
Lefebre, Master. Henry Forbes                         1
Gale, Mr. Shadrach                                    1
Turja, Miss. Anna Sofia                               1
Garside, Miss. Ethel                                  1
Sage, Mr. Douglas Bullen                              1
Davidson, Mr. Thornton                                1
Stanley, Mr. Edward Roland                            1
Brewe, Dr. Arthur Jackson                             1
Williams, Mr. Charles Eugene                          1
Lines, Miss. Mary Conover                             1
Novel, Mr. Mansouer                                   1
Kvillner, Mr. Johan Henrik Johannesson                1
Panula, Master. Eino Viljami                          1
Moussa, Mrs. (Mantoura Boulos)                        1
Dahlberg, Miss. Gerda Ulrika                          1
Johansson, Mr. Karl Johan                             1
Skoog, Miss. Mabel                                    1
Bourke, Miss. Mary                                    1
Goldsmith, Mrs. Frank John (Emily Alice Brown)        1
Brown, Mrs. James Joseph (Margaret Tobin)             1
Leitch, Miss. Jessie Wills                            1
Henry, Miss. Delia                                    1
Bishop, Mr. Dickinson H                               1
Natsch, Mr. Charles H                                 1
Newell, Miss. Madeleine                               1
Calic, Mr. Petar                                      1
Name: Name, Length: 891, dtype: int64

In [20]:
data['Cabin'].value_counts()

None           687
B96 B98          4
G6               4
C23 C25 C27      4
D                3
F33              3
E101             3
C22 C26          3
F2               3
D36              2
B35              2
B58 B60          2
B49              2
E44              2
C83              2
C92              2
C123             2
D26              2
E8               2
B18              2
B51 B53 B55      2
E24              2
D17              2
C2               2
C78              2
B28              2
C93              2
C126             2
D33              2
D35              2
              ...
A36              1
C82              1
B78              1
B42              1
A20              1
D7               1
D6               1
B94              1
B101             1
C47              1
A31              1
B19              1
D49              1
C87              1
D56              1
C110             1
B3               1
E36              1
D11              1
D10 D12          1
B41              1
D30              1
C91              1
B69              1
B79              1
D9               1
D21              1
C103             1
C128             1
C32              1
Name: Cabin, Length: 148, dtype: int64

In [21]:

for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
data = data.drop(['Survived', 'Name_mean', 'Ticket_mean'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.8350366889413987
time : 0.01616811752319336 sec

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)